general.backend.bucket=
general.backend.key=api-deployment-history/general.tfstate
general.backend.region=us-east-1

variables.aws_region=us-east-1
variables.api_name=the-api
variables.test_stage_name=test
variables.prod_stage_name=live
variables.lambda_name=the-lambda
variables.lambda_runtime=python3.10

cutover.backend.bucket=
cutover.backend.key=api-deployment-history/cutover.tfstate
cutover.backend.region=us-east-1

